body {
  width:400px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
}
.main-content {
  margin: 10px;
}
.scripts {
  white-space: nowrap;
  font-size: 13px;

}
.scripts div {
  margin-top: 5px;
  overflow: scroll;
  text-overflow: scroll;
  text-align:center;
}
.checkscript{

}
.greentext {
  color: #00ff2f;
}
.redtext {
  color:red;
}
.btn {

color: black;
border-radius: 20px;
border: none;
background-color: #fec82a;
padding: 7px;
margin-top:10px;
margin-bottom:10px;
font-weight: bold;

}
